<%= form_with(url: root_path, method: :get, local: true) do |form| %>
  <div>
    <%= form.label :departure_airport_id, "Departure" %>
    <%= form.select :departure_airport_id, options_for_select(@airports), {}, { required: true } %>
  </div>
  <div>
    <%= form.label :arrival_airport_id, "Arrival" %>
    <%= form.select :arrival_airport_id, options_for_select(@airports), {}, { required: true } %>
  </div>
  <div>
    <%= form.label :num_passengers, "Number of Passengers" %>
    <%= form.number_field :num_passengers, in: 1..4, step: 1 %>
  </div>
  <div>
    <%= form.label :start_date, "Date" %>
    <%= form.date_field :start_date, value: Date.today, min: Date.today, max: Date.today + 1.year %>
  </div>
  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<% if @flights.any? %>
  <h2>Available Flights:</h2>
  <%= form_with(url: bookings_new_path, method: :get) do |form| %>
  <% @flights.each do |flight| %>
    <div>
      <%= form.radio_button :flight_id, flight.id %>
      <%= form.label :flight_id, "#{flight.departure_airport.code} to #{flight.arrival_airport.code}, Departure: #{flight.start_datetime}, Duration: #{flight.duration} minutes", value: flight.id %>
    </div>
    <%= form.hidden_field :num_passengers, value: params[:num_passengers] %>

  <% end %>
  <%= form.submit "Select Flight" %>
<% end %>
<% else %>
  <p>No flights found.</p>
<% end %>
