<div class="passenger-fields">
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.label :email %>
  <%= f.email_field :email, required: true %>
  <%= link_to 'Remove', '#', class: 'remove-passenger' %>
</div>